.main-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(39,39,40);
  background: radial-gradient(circle, rgba(39,39,40,1) 0%, rgba(1,22,29,1) 100%);
}
.form-container{
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 900px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 4px 4px rgba(165, 119, 1,0.5);
  border: 1px solid rgba(165, 119, 1,0.5);
}